/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
background-color: dodgerblue;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.form-inline button{
    width: 21%;
}

/* Add a hover effect for buttons */
button:hover {
opacity: 0.8;
}

.incorrect-credentials {
    color: #FF0000;
    text-align: center;
    display: none;
}